.container {


    form {



        input {
            &textArea {
                width: 100%;

            }
        }

        button {
            position: absolute;
            border-radius: 50%;

        }
    }

}