*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* changing root size to make computations easier, 62.5% of default browser 16px is 10px; The user can also change the default font sizes
 */
    /* Defines what 1 rem is */
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-image: url("https://transparenttextures.com/patterns/3px-tile.png");
}